#card3{
    height:400px;
    width:700px;
    position: absolute;;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

.Burano-bg{
    height:400px;
    width:720px;
    position:fixed;
}
.overlay{
    height:400px;
    width:720px;
    border-radius: 2%;
    margin-left:8px;
    margin-top:5px;
    position: fixed;
    background-color: rgba(55, 210, 231, 0.2);
}
.text-content{
    position: fixed;
    margin-left:60px;
}
.font-white-red{
    position: relative;
    width:600px;
}
.font-white-red h4{
    float: right;
    background-color: red;
    color:white;
    margin-top:50px;
    margin-right:20px;
    border-radius: 10%;
    padding:3px 15px;
}

.font-white-bold{
    color:white;
    padding-top:220px;
}

#rating p{
    position: relative;
    margin-left:10px;
    display:inline;
    color: gray;
    font-size:0.8em;
}

#rating span{
    width:1em;
    height:1em;
}

.fa{
    color:yellow;
}
.more{
    position: absolute;
    margin-left:530px;
    margin-top:-50px;
}
